// 兼容性处理
@mixin webkit ($attr, $value) {
  -webkit-#{$attr}: $value;
  -moz-#{$attr}: $value;
  -ms-#{$attr}: $value;
  -o-#{$attr}: $value;
  #{$attr}: $value;
}

$color_white:white;

// 全局类名
.pull-right {
  float: right
}

.margin-top-30 {
  margin-top: 30px;
}